{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>

      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
     <div class="row">
      <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
           <!--  <div class="form-group">
              <label class="control-label" for="input-product">{{ entry_product }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_product }}" id="input-name" class="form-control" />
            </div> -->

            <div class="form-group">
              <label class="control-label" for="input-date-start">{{ entry_date_start }}</label>
              <div class="input-group date">
              <input type="text" name="filter_date_start" value="{{ filter_date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" id="input-date-start" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span> 
              </div>
            </div>

             <div class="form-group">
              <label class="control-label" for="input-date-end">{{ entry_date_end }}</label>
              <div class="input-group date">
              <input type="text" name="filter_date_end" value="{{ filter_date_end }}" placeholder="{{ filter_date_end }}" data-date-format="YYYY-MM-DD" id="input-date-end" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span> 
              </div>
            </div>

            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form  method="post" enctype="multipart/form-data" id="form-bulkprice">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
      
                  <td class="text-left">{% if sort == 'pd.name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>

                  <td class="text-left">{% if sort == 'pd.model' %}
                    <a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a>
                    {% else %}
                    <a href="{{ sort_model }}">{{ column_model }}</a>
                    {% endif %}</td>

                  <td class="text-left">{% if sort == 'p.price' %}
                    <a href="{{ sort_price }}" class="{{ order|lower }}">{{ column_price }}</a>
                    {% else %}
                    <a href="{{ sort_price }}">{{ column_price }}</a>
                    {% endif %}</td>

                  <td class="text-left">{% if sort == 'ps.special' %}
                    <a href="{{ sort_special }}" class="{{ order|lower }}">{{ column_special }}</a>
                    {% else %}
                    <a href="{{ sort_special }}">{{ column_special }}</a>
                    {% endif %}</td>

                  <td class="text-left">{% if sort == 'ps.date_end' %}
                    <a href="{{ sort_date_end }}" class="{{ order|lower }}">{{ column_date_end }}</a>
                    {% else %}
                    <a href="{{ sort_date_end }}">{{ column_date_end }}</a>
                    {% endif %}</td>

                 <td class="text-left">{% if sort == 'p.status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
              
                 
                </tr>
              </thead>
              <tbody>
                {% if bulk_specials %}
                {% for bulk_special in bulk_specials %}
                <tr>
                  <td class="text-left">{{ bulk_special.name }}</td>
                  <td class="text-left">{{ bulk_special.model }}</td>
                  <td class="text-left">{{ bulk_special.price }}</td>
                  <td class="text-left">{{ bulk_special.special }}</td>
                   <td class="text-left">{{ bulk_special.date_end }}</td>
                  <td class="text-left">{{ bulk_special.status }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = '';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

 var filter_date_start = $('input[name=\'filter_date_start\']').val();

  if (filter_date_start) {
    url += '&filter_date_start=' + encodeURIComponent(filter_date_start);
  }

  var filter_date_end = $('input[name=\'filter_date_end\']').val();

  if (filter_date_end) {
    url += '&filter_date_end=' + encodeURIComponent(filter_date_end);
  }
 location = 'index.php?route=extension/module/bulk_special/display_all_special&user_token={{ user_token }}' + url;
  //alert(location);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: 'en-gb',
  pickTime: false
});

$('.time').datetimepicker({
  language: 'en-gb',
  pickDate: false
});

$('.datetime').datetimepicker({
  language: 'en-gb',
  pickDate: true,
  pickTime: true
});
//--></script>
{{ footer }}